@media only screen and (max-width: 992px)
{

#logo
{
  block-size: 150px;
}

#ul
{
  font-size: xxx-large;
}

#menuWrap{
  grid-template-columns: 100%;
}

.card{
  width: 50rem;
}

}
